<%- include('partials/header') %>
<%- include('partials/navbar') %>
<header>
  <a href="/">Got Your Back!</a>
  <input type="checkbox" id="menu-bar">
  <label for="menu-bar">Menu</label>
  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/upload">Your Uploads</a></li>
    </ul>
  </nav>
</header>
<p>.</p>
<p>.</p>
<p>.</p>

<div class="container mt-5" >
  <h1>Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>

            <a style="font-size:1rem;color:crimson;margin-left:100px;" href="/register">Don't have an account??Create now</a>
          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
