<%- include('partials/header') %>
<%- include('partials/navbar') %>
<header>
  <a href="/">Got Your Back!</a>
  <input type="checkbox" id="menu-bar">
  <label for="menu-bar">Menu</label>
  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/upload">Your Uploads</a></li>
    </ul>
  </nav>
</header>
<iframe src="https://docs.google.com/gview?url=https://path.com/to/your/pdf.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>

<%- include('partials/footer') %>
